
<h1>New Todo</h1>

<%= form_for(@todo) do |f| %>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  <br>

  <%= f.label :description %><br />
  <%= f.text_field :description %>

  <%= f.submit :id => "deleteAll" %>
<% end %>

<h1>All The Todos</h1>
<ul>
  <% @todos.each do |todo| %>
    <li><b><%=todo.title%></b> - <%= todo.description %></li>
  <% end %>
</ul>

